{%  extends 'dgpheader.html' %}
{% block content1 %}
<html>
    <br>
    <head><h2 align="center" style="color: brown;">Station Send File</h2></head>
    <body>
    <form method="POST" enctype="multipart/form-data">
     {% csrf_token %}
        <table align="center" width="500" height="300">
            <br>
            <br>
<tr><td> Select Station:</td><td><select name="dis">
    <option>--Select User--</option>
    {% for d in data %}
 <option value="{{d.0}}" >{{d.1}}</option>
{% endfor %}
   
</select></td></tr>

<tr><td> Subject:</td><td><input type="text" name="sub"></td></tr>


<tr><td> File:</td><td><input   type="file" name="f1"></td></tr>

<tr><td><input type="submit" name="subfile" value="Submit"></td></tr>
</table>
</form>
<br>
<br>
{% endblock %}