{%  extends 'stationheader.html' %}
{% block content1 %}
<html>
    <br>
    <head><h2 align="center" style="color: brown;">Complaints</h2></head>
    <body>
    <form method="POST">
     {% csrf_token %}
      {% for d in data %}
        <table align="center" width="500" height="300">
            <br>
            <br>

<tr><td> Complaint Id:</td><td><input type="label" name="ctype" value="{{d.0}}"></td></tr>
<tr><td>Complaint Title:</td><td><input type="text" name="cdesc" value="{{d.2}}"></td></tr>
<tr><td>  Complaint Description::</td><td><input type="text" name="date1" value="{{d.2}}"></td></tr>
<tr><td> Current Status:</td><td><input type="text" name="cloc" value="{{d.5}}"></td></tr>
<tr><td> Description:</td><td><input type="text" name="ipc"></td></tr>
{% if d.5 == 'pending' %}<tr>

 <td>
            <tr><td><input type="submit" name="complaintsolved" value="Solved"></td></tr>

        </td>
</tr>
{% endif %}
{% if d.5 == 'not approved' %}<tr>

 <td>
            <tr><td><input type="submit" name="complaintpending" value="Pending"></td>

        </td>
        <td>
            <td><input type="submit" name="complaintreject" value="Reject"></td></tr>

        </td>
</tr>
{% endif %}
</table>
 {% endfor %} 
</form>
<br>
<br>
{% endblock %}
