{% extends 'adminheader.html' %}
{% block content1 %}
<form method="POST">
{% csrf_token%}

<h2 align="center" style="color:brown"> Photographers Details</h2>
<br>

<table class="customers">
    <th>Name</th>
    <th>Address</th>
   
    <th>District</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>Complaint Title</th>
    <th>Description</th>
    <th>Status</th>
    
    <th></th>
    
    {% for x in data %}
    <tr>
        
        
        <td>
            {{x.1}}
        </td>
        <td>
            {{x.2}}
        </td>
        <td>
            {{x.5}}
        </td>
        <td>
            {{x.6}}
        </td>
        
        <td>
            {{x.7}}
        </td>
        <td>
            {{x.10}}
        </td>
        <td>
            {{x.11}}
        </td>
        <td>
            {{x.13}}
        </td>
        
        <td>
            <a href='/adminapprovecomp/?id={{x.9}}'>Completed</a>
        </td>
         <td>
            <a href='/adminrejectcomp/?id={{x.0}}'>Reject</a>
        </td>
          </tr> 
    {% endfor %} 
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</form>
{% endblock %}
