{%  extends 'stationheader.html' %}
{% block content1 %}
<html>
    <br>
    <head><h2 align="center" style="color: brown;">Wanted List Details</h2></head>
    <body>
    <form method="POST" enctype="multipart/form-data">
     {% csrf_token %}
        <table align="center" width="500" height="150">
            <br>
            <br>


    <tr><td> Select Criminal:</td><td><select name="dis">
    <option>--Select Criminal--</option>
    {% for d in data %}
 <option value="{{d.0}}" >{{d.1}}</option>
{% endfor %}
   
</select></td></tr>
    <tr>
      <td>Description</td>
      <td><input type="text" name="descr" class="form-control"/></td>
    </tr>
   
   
<tr><td><input type="submit" name="subf" value="Submit"></td></tr>
</table>
</form>
<br>
<br>
{% endblock %}
